p
{
   background-color: rgb(240, 134, 134);
   color: rgb(134, 33, 218);
}
.block
{
    background-color: cyan;
    color:darkgrey;
}
#block
{
    background-color: rgb(212, 200, 24);
    color:darkturquoise;
}
#blockdiv
{
    background-color: bisque;
    width:120px;
    height: 120px;
    animation-name: machi;
    animation-duration: 5s;
    position: relative;
    animation-iteration-count: 2;
}
@keyframes machi
{
    0%{background-color: rgb(15, 15, 15);top:1px;left:1px;}
    10%{background-color: rgb(245, 55, 8);top:50px;left:31px;}
    47%{background-color:rgb(204, 180, 120);top:140px;left:97px;}
    69%{background-color: darkorchid;top:200px;left:159px;}
    89%{background-color: deepskyblue;top:200px;left:170px;}
    100%{background-color: rgb(237, 241, 245);top:300px;left:145px;}
}